@media (max-width: 600px) {
    .menu {
        display: none;
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .container {
        flex-direction: column;
    }
}

@media (min-width: 600px) {
    .drawer {
        display: none;
    }
}